<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Profile</h1>
</div>

  <% if user_signed_in? %>

    <div class="container">
        <div class="field">
          <strong>Name:</strong>
          <%= current_user.name %>
        </div>

        <div class="field">
          <strong>Email:</strong>
          <%= current_user.email %>
        </div>

        <div class="field">
          <strong>Phone Number:</strong>
          <%= current_user.phone_number %>
        </div>

        <div class="field">
          <strong>Address:</strong>
          <%= current_user.address %>
        </div>

    </div>
  <% end %>
</div>

<div class="container">
  <button><%= link_to 'Edit Profile', edit_user_registration_path %></button>
  <button><%= link_to 'Location', places_path %></button>
</div>