<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @black_list.user_id %>
</p>

<p>
  <strong>Post:</strong>
  <%= @black_list.post_id %>
</p>

<%= link_to 'Edit', edit_black_list_path(@black_list) %> |
<%= link_to 'Back', black_lists_path %>
