
<h1>Posts</h1>



<br>
<br>

<% @posts.each do |post| %>


  <div style="border: 1px solid black; background-color: #add8e6;">

      <h3><% post.body %></h3>
      <h3><% post.title %></h3>
      <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.email %>
      <br>

      <% if can? :update, post %>
        <%= link_to 'Edit', edit_post_path(post) %>
      <% end %>

      <% if can? :update, post %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?'} %>
      <% end %>

    <% if post.comments.any? %>

      <h4> Comments</h4>

      <%= render post.comments %>
    <% end %>

    <hr>
    <p> Add Comment </p>
    <%= form_for([post, post.comments.build]) do |f| %>
      <%= f.text_area :body %>
      <%= submit_tag "Add" %>
    <% end %>
  </div>

  <br>
  <br>
<%end %>













