<!DOCTYPE html>
<html>
<head>
  <title>COURSE PROJECT</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<body>
    <nav class="navbar navbar-default" style="background-color: #067900;">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" style="color: #fff;">SHREK SWAMP</a>
        </div>
        <ul class="nav navbar-nav">
          <li><%= link_to 'Home', home_show_url %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if !user_signed_in? %>
            <li>
              <%= link_to dumpsters_path do %>
                <span class="glyphicon glyphicon-trash"></span>
                Dumpster
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path do %>
                <span class="glyphicon glyphicon-user"></span>
                Sign Up
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path do %>
                <span class="glyphicon glyphicon-log-in"></span>
                Login
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to edit_user_registration_path do %>
                <span class="glyphicon glyphicon-user"></span>
                Profile
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <span class="glyphicon glyphicon-log-out"></span>
                Logout
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="alert alert-info" id="ajax_notice" hidden>
    </div>
    <div class="container">
      <%= yield %>
  </div>
</body>



</html>